<table style='width: 100%; max-width: 100%; margin-bottom: 10px; margin-top:0px; font-size: 10px; border-width: 0px 1px 1px 1px;'>
    <tbody>
        <tr>
             <td ROWSPAN='8' width='30' style='font-size: 10px; border-width:0px 1px 0px 0px;'>@Html.Raw(HRPortal.MultiLanguage.Resource.SalaryReceipt_MemoPrecautions)</td>
        </tr>
        <tr height='12' align='left' valign='middle'>
            <td colspan='12' width='1000' style='border-width: 0px 0px 0px 0px;'></td>
        </tr>
        <tr height='20' align='left' valign='middle'>
            <td colspan='12' width='1000' style='border-width: 0px 0px 0px 0px;'>@Html.Raw(HRPortal.MultiLanguage.Resource.SalaryReceipt_MemoPart1)</td>
        </tr>
        <tr height='20' align='left' valign='middle'>
            <td colspan='12' width='1000' style='border-width: 0px 0px 0px 0px;'>@Html.Raw(HRPortal.MultiLanguage.Resource.SalaryReceipt_MemoPart2)</td>
        </tr>
        <tr height='20' align='left' valign='middle'>
            <td colspan='12' width='1000' style='border-width: 0px 0px 0px 0px;'>@Html.Raw(HRPortal.MultiLanguage.Resource.SalaryReceipt_MemoPart3)</td>
        </tr>
        <tr height='20' align='left' valign='middle'>
            <td colspan='12'width='1000' style='border-width: 0px 0px 0px 0px;'>@Html.Raw(HRPortal.MultiLanguage.Resource.SalaryReceipt_MemoPart4)</td>
        </tr>
        <tr height='20' align='left' valign='middle'>
            <td colspan='12'  width='1000' style='border-width: 0px 0px 0px 0px;'>@Html.Raw(HRPortal.MultiLanguage.Resource.SalaryReceipt_MemoPart5)</td>
        </tr>
        <tr height='30' align='left' valign='middle'>
            <td colspan='12'  width='1000' style='border-width: 0px 0px 0px 0px;'>@Html.Raw(HRPortal.MultiLanguage.Resource.SalaryReceipt_MemoPart6)</td>
        </tr>
        
    </tbody>
</table>