@model HRPortal.DBEntities.MailMessage
@{
    ViewBag.Title = "MailMessage Detail";
}
<style>
    .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: 40px;
}
</style>
<div class="form-horizontal modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Subject - @HRPortal.MultiLanguage.Resource.BtnDetail</h4>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="form-group">
                        @Html.Label("紀錄時間", new { @class = "col-md-22" })
                        <div class="col-sm-44" style="margin-top: 6px;">
                            @Html.DisplayFor(model => model.CreateTime)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("寄送時間", new { @class = "col-md-22" })
                        <div class="col-sm-44" style="margin-top: 6px;">
                            @if (Model.SendTimeStamp != null)
                            {
                                @Html.DisplayFor(modelItem => modelItem.SendTimeStamp)
                            }
                            else
                            {
                                <span>未發送</span>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("寄件者", new { @class = "col-md-22" })
                        <div class="col-sm-44" style="margin-top: 6px;">
                            @Html.DisplayFor(model => model.MailAccount.MailAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("收件者", new { @class = "col-md-22" })
                        <div class="col-sm-44" style="margin-top: 6px;">
                            @Html.DisplayFor(model => model.Rcpt)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("副本", new { @class = "col-md-22" })
                        <div class="col-sm-44" style="margin-top: 6px;">
                            @if (Model.Cc != null)
                            {
                                @Html.DisplayFor(model => model.Cc)
                            }
                            else
                            {
                                <span>無</span>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("密件副本", new { @class = "col-md-22" })
                        <div class="col-sm-44" style="margin-top: 6px;">
                            @if (Model.Bcc != null)
                            {
                                @Html.DisplayFor(model => model.Bcc)
                            }
                            else
                            {
                                <span>無</span>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("內容", new { @class = "col-md-22" })
                        <div class="col-sm-44" style="margin-top: 6px;word-break: break-all;width:80%">
                            @Html.Raw(Model.Body.Replace("\r\n", "<br/>"))
                        </div>
                    </div>

                  
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@HRPortal.MultiLanguage.Resource.BtnClose</button>
            </div>
        </div>
</div>
