@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <title>@ViewBag.title</title>
    @Styles.Render("~/content/site")
    @Styles.Render("~/content/CP0L0/loginSite")
    @Styles.Render("~/content/CP0L0/BG_2022")
    @Scripts.Render("~/bundles/jquery1")
    @RenderSection("login_header", required: false)
    @*<link href="~/Content/CP0L0/customerLoginCss.css" rel="stylesheet" />*@
    <link rel="icon" sizes="192x192" href="@Url.Content("~/Images/ICON_192_192.png?v=ddmc")" />
    <link rel="icon" sizes="196x196" href="@Url.Content("~/Images/ICON_196_196.png?v=ddmc")" />
    <link rel="icon" sizes="128x128" href="@Url.Content("~/Images/ICON_128_128.png?v=ddmc")" />
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Images/apple-touch-icon-76x76.png?v=ddmc")" />
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Images/apple-touch-icon-152x152.png?v=ddmc")" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Images/apple-touch-icon-180x180.png?v=ddmc")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Images/apple-touch-icon-144x144.png?v=ddmc")" />


</head>
<body>
    @*<div id="hero-datetime" class="text-center" style="font-size: 20px; max-width: 320px; color: rgba(255,255,255,0.8); text-shadow: 1px 1px 2px rgba(0,0,0,0.75); font-family: Roboto,verdana,tahoma,arial,helvetica,sans-serif; padding: 30px;">
        <div id="time" style="font-size: 72px; line-height: 70px; border-bottom: solid 1px rgba(255,255,255,0.8);"></div>
        <div id="date"></div>
    </div>*@
    @RenderBody()
   @* <div style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;">
        <img src="~/Content/CP0L0/04.jpg" height="100%" width="100%"/>
    </div>*@
    <!--[if lt IE 9]>
        @Styles.Render("~/content/ie8")
        @Scripts.Render("~/bundles/ie8")
        @Scripts.Render("~/bundles/jquery1")
    <![endif]-->
    <!--[if gte IE 9]><!-->
    @Scripts.Render("~/bundles/jquery2")
    <!--<![endif]-->
    @Scripts.Render("~/bundles/site")
    <script src="~/Scripts/plugins/jquery-center/jquery.center.min.js"></script>
    <script>
        (function () {
            var server_now = moment('@DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")');
            var now = moment();
            var diff = server_now.diff(now, 'seconds');
            function updateClock() {
                var now = moment().add(diff, 'second');
                $('#date').text(now.format('YYYY/MM/DD dddd'));
                $('#time').text(now.format('HH:mm'));
            }

            function timedUpdate() {
                updateClock();
                setTimeout(timedUpdate, 1000);
            }

            timedUpdate();
            $('.panel-center').center({ topPercentage: 0.45 });
        })();

        function showAlertMessage(msg, callbackfunction) {
            bootbox.alert("<div style='text-align:center'>" + msg + "</div>", callbackfunction);
        }
    </script>
    @RenderSection("login_scripts", required: false)
    @RenderSection("login_footer", required: false)
</body>
</html>