@model HRPortal.Mvc.Models.ResetPasswordRequestModal
@{
    ViewBag.Title = "ResetPassword";
}

@using HRPortal.MultiLanguage
@Scripts.Render("~/bundles/validate")
<script>
    $(function () {
        $("#ResetPasswordForm #CompanyList").change(function () {
            $("#ResetPasswordForm #Company").val($(this).val());
        });
        $("#ResetPasswordForm #Company").val($("#ResetPasswordForm #CompanyList").val());
        $('button.close').click(function () { location.reload() });
        $('#btnResetPassword').click(function (event) {
            event.preventDefault();
            var data = new FormData($('#ResetPasswordForm')[0]);
            $.ajax({
                url: $('#ResetPasswordForm').attr('action'),
                type: $('#ResetPasswordForm').attr('method'),
                data: data,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.success) {
                        showAlertMessage("新密碼已寄出");
                        window.location.reload();
                    } else {
                        showAlertMessage(result.message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    showAlertMessage('重設密碼時發生錯誤，請重新操作', function () {
                        window.location.reload();
                    });
                }
            });
        })
    });
</script>
<div class="modal-dialog modal-sm">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Resource.ResetPasswordModel</h4>
            </div>
            <div class="modal-body">
                <section id="changePasswordForm">
                    @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ResetPasswordForm" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Company, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.DropDownList("CompanyList", (List<SelectListItem>)ViewBag.CompanyList, new { @class = "form-control" })
                                @Html.HiddenFor(m => m.Company)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Account, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Account, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-6">
                                <button id="btnResetPassword" class="btn btn-success btn-block btn-lg" >@Resource.ResetPasswordSubmit</button>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
