@model HRPortal.DBEntities.AnswerFAQ
@Scripts.Render("~/bundles/validate")

@{
    ViewBag.Title = "Ask FAQ ";
}
<style>
    .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: 130px;
}
    .col-sm-9:before {
             content: "：";
            display: inline-block;
            height: 52px;
            vertical-align: bottom;
                  }
     .col-sm-10:before {
             content: "：";
            display: inline-block;
            height: 27px;
            vertical-align: bottom;
                  }
</style>
<div class="form-horizontal modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">詢問問題</h4>
        </div>
        @using (Html.BeginForm("CreateAnswerFAQ", "FAQ", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="tab-content">
                    <div class="form-group">
                        <label class="col-md-22">@HRPortal.MultiLanguage.Resource.EmployeeNo</label>
                        <div class="col-sm-44">
                            <p class="form-control-static">@ViewBag.EmpID</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-22">@HRPortal.MultiLanguage.Resource.EmployeeName</label>
                        <div class="col-sm-44">
                            <p class="form-control-static">@ViewBag.EmpName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-22">@HRPortal.MultiLanguage.Resource.DepartmentName</label>
                        <div class="col-sm-44">
                            <p class="form-control-static" data-bind="text: department_value">@ViewBag.DeptName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Title, new { @class = "col-md-2 control-label" })*@
                        @Html.Label("標題", new { @class = "col-md-22" })
                        <div class="col-sm-10" style="width:75%">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ContentText, new { @class = "col-md-2 control-label" })*@
                        @Html.Label("詢問內容", new { @class = "col-md-22" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.ContentText, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ContentText, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="@HRPortal.MultiLanguage.Resource.BtnSubmit" class="btn btn-success" />
                <button type="button" class="btn btn-default" data-dismiss="modal">@HRPortal.MultiLanguage.Resource.BtnClose</button>
            </div>
        }
    </div>
</div>