@model HRPortal.ApiAdapter.HRMApiAdapterData.EmployeeAbsentItems
@{
    var MaxCount = Model.Leaves.Count;
    //decimal TaxableAmounts = 0;
    //decimal NoTaxAmounts = 0;
    decimal OverTimesAmounts = 0;
    if (Model.Absents.Count > MaxCount)
    {
        MaxCount = Model.Absents.Count;
    }
    if (Model.OverTimes.Count > MaxCount)
    {
        MaxCount = Model.OverTimes.Count;
    }

}

<table class="table table-outline table-bordered fe-table">
    <tbody>
         <tr>
             <th style="text-align:center;height:30px;" colspan="8" >
               考勤期間:@Model.AttendanceFirstDays~@Model.AttendanceLastDays
            </th>
        </tr>
         <tr>
            <th style="text-align:center;height:30px;" colspan="3">
                請假資訊
            </th>
            <th style="text-align:center;height:30px;"  colspan="3">
                出缺勤資訊
            </th>
            <th style="text-align:center;height:30px;"  colspan="2">
                加班資訊
            </th>
        </tr>
        <tr>
            <th style="text-align:center;height:30px;">
                假別
            </th>
            <th style="text-align:center;height:30px;">
                當月
            </th>
            <th style="text-align:center;height:30px;">
                年累
            </th>
            <th style="text-align:center;height:30px;"> 
                出缺勤
            </th>
            <th style="text-align:center;height:30px;">
                當月
            </th>
            <th style="text-align:center;height:30px;">
                年累
            </th>
            <th style="text-align:center;height:30px;">
                加班
            </th>
            <th style="text-align:center;height:30px;">
                當月
            </th>
        </tr>

        @for (int i = 0; i < MaxCount; i++)
            {
            <tr>
                @if (i < Model.Leaves.Count)
                {
                    //Leaves
                    //TaxableAmounts += Model.TaxableItems[i].Amount;
                    <th style="height:30px;">
                        @Model.Leaves[i].Name
                    </th>
                    <td style="text-align:right;height:30px;">@Model.Leaves[i].ThisMonth</td>
                    <td style="text-align:right;height:30px;">@Model.Leaves[i].ThisYear</td>
                }
                else
                {
                    <th style="height:30px;"></th>
                    <td style="text-align:right;height:30px;"></td>
                    <td style="text-align:right;height:30px;"></td>
                }

                @if (i < Model.Absents.Count)
                {
                    //Absents
                    //NoTaxAmounts += Model.Absents[i].Amount;
                    <th style="height:30px;">
                        @Model.Absents[i].Name
                    </th>
                    <td style="text-align:right;height:30px;">@Model.Absents[i].ThisMonth</td>
                    <td style="text-align:right;height:30px;">@Model.Absents[i].ThisYear</td>
                }
                else
                {
                    <th style="height:30px;"></th>
                    <td style="text-align:right;height:30px;"></td>
                    <td style="text-align:right;height:30px;"></td>
                }

                @if (i < Model.OverTimes.Count)
                {
                    //OverTimes
                    OverTimesAmounts += Model.OverTimes[i].ThisMonth;
                    <th style="height:30px;">
                        @Model.OverTimes[i].Name
                    </th>
                    <td style="text-align:right;height:30px;">@Model.OverTimes[i].ThisMonth</td>
                    @*<td style="text-align:right">@Model.OverTimes[i].ThisYear</td>*@
                }
                else
                {
                    <th style="height:30px;"></th>
                    <td style="text-align:right;height:30px;"></td>
                    @*<td style="text-align:right"></td>*@
                }
            </tr>
        }
        <tr>
            @*<th>應稅合計</th>
            <td style="text-align:right">@TaxableAmounts</td>
            <th>免稅合計</th>
            <td style="text-align:right">@NoTaxAmounts</td>
            <th>代扣合計</th>
            <td style="text-align:right">@WithholdingAmounts</td>*@
            <td colspan="6"/>
            <th style="height:30px;">加班合計</th>
            <td style="text-align:right;height:30px;">@OverTimesAmounts</td>
        </tr>
    </tbody>
</table>