@model HRPortal.Mvc.Models.HomeViewModel
@{ Layout = null; }

@section header{
    @*@Scripts.Render("~/bundles/jquery2")*@

}
<style>
    span#ToDoListTotalCount {
        margin-right:0px;
    }
</style>
<div class="todo box col-xs-6" style="border: #f0ad4e 1px solid;">
    <!--待辦事項標題-->
    <ul>
        <li class="title col-xs-12" style="background-color: #f0ad4e;">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>@HRPortal.MultiLanguage.Resource.ToDo
            <p class="num pull-right">
                @{
                    int ToDocount = 0;
                    <span id="ToDoListTotalCount">@ToDocount</span>
                 }
            </p>
        </li>
		<li class="blank col-xs-12"></li>
        @if (Model != null && Model.ToDoList != null)
        {
            
              foreach (var item in Model.ToDoList)
              {
                    <li class="list col-xs-12">
                        <a href="@item.URL">
			                <p class="col-xs-10">@item.Name</p>
			                <p class="col-xs-2 text-right">@item.Count</p>
                        </a>
		            </li>
              }
        }
        <li class="bottom col-xs-12"></li>
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        $("#ToDoListTotalCount").html('@ToDocount');
    })
</script>