@model IEnumerable<HRPortal.DBEntities.DownloadFile>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        padding-left: 5px;
    }
</style>

@using (Html.BeginForm("Index", "DownloadFiles", FormMethod.Post, new { id = "DownloadForm" }))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true)*@
    <div class="row">
        @if (TempData["message"] != null)
        {
            <script type="text/javascript">
              $(function () {
                var message = @Html.Raw(Json.Encode(TempData["message"]));
                    showAlertMessage(message);
                });
            </script>
        }
        <div class="col-md-7 col-sm-12 btn-toolbar action-buttons">
          
        </div>

        <div class="col-md-5 col-sm-12 mini-input-group">
            <div class="col-xs-6">
            </div>
            
            <div class="col-xs-6 filter-toolbar">
                <div class="input-group" style="width:100%">
                    <input id="txtkeyword" name="txtkeyword" type="text" class="form-control" value="@ViewBag.Keyword" placeholder="@HRPortal.MultiLanguage.Resource.PlaceHolderSearchTitle">
                    <span class="input-group-btn">
                        <button id="btn_filter" onclick="ChangeStatus(this.form, 1, '#searchName')" class="btn btn-primary" type="button"><i class="fa fa-filter"></i></button>
                    </span>
                </div>
            </div>
        </div>
       
        @if (Model != null)
        {
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table tabindex="0" cellspacing="0" cellpadding="0" border="0" class="table table-bordered ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="height:50px;width:100%">
                        <tr class="ui-jqgrid-labels" role="rowheader" style="height:40px;color:#777">
                            <th class="" style="width:15%">
                               <div id="jqgh_grid-table_code" class="" style="text-align:center;">@Html.DisplayNameFor(model => model.FirstOrDefault().ModifiedTime)</div> 
                            </th>
                            <th class="" style="width:20%">
                               <div id="jqgh_grid-table_code" class="" style="text-align:center;">@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</div> 
                            </th>
                            <th class="" style="width:20%">
                               <div id="jqgh_grid-table_code" class="" style="text-align:center;">@Html.DisplayNameFor(model => model.FirstOrDefault().Description)</div> 
                            </th>
                            <th class="">
                               <div id="jqgh_grid-table_code" class="" style="text-align:center;">@Html.DisplayNameFor(model => model.FirstOrDefault().Format)</div> 
                            </th>
                            <th class="">
                               <div id="jqgh_grid-table_code" class="" style="text-align:center;">@Html.DisplayNameFor(model => model.FirstOrDefault().Size)</div> 
                            </th>
                            <th class="" style="width:10%">
                            </th>
                        </tr>
                        @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                                <tr role="row" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                                    <td role="gridcell" class="" style="word-break: break-all;white-space:normal" aria-describedby="grid-table_notification_count">
                                        @Html.DisplayFor(modelItem => item.ModifiedTime)
                                    </td>
                                    <td role="gridcell" class="" style="word-break: break-all;white-space:normal" aria-describedby="grid-table_notification_count">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td role="gridcell" class="" style="word-break: break-all;white-space:normal" aria-describedby="grid-table_notification_count">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td role="gridcell" class="" style="word-break: break-all;white-space:normal" aria-describedby="grid-table_notification_count">
                                        @Html.DisplayFor(modelItem => item.Format)
                                    </td>
                                    <td role="gridcell" class="" style="word-break: break-all;white-space:normal" aria-describedby="grid-table_notification_count">
                                        @Html.DisplayFor(modelItem => item.Size)
                                    </td>
                                    <td role="gridcell" class="" style="word-break: break-all;white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                        <a target="_blank" id="upload@(item.Id)" class="btn btn-success" href="@Url.Action("Download", new { id = item.Id })">@HRPortal.MultiLanguage.Resource.BtnDownload</a>
                                    </td>
                                </tr>
                        }
                    }
                    else
                    {
                            <tr role="row" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                                <td colspan="6" style="text-align:center">
                                    @HRPortal.MultiLanguage.Resource.NoData
                                </td>
                            </tr>
                    }
                    </table>
                </div>
                    <div style="text-align:center">
                        @* 在後面對pagelist做轉型 *@
                        @using PagedList
                        @using PagedList.Mvc
                        @{
                        var data = Model as IPagedList<HRPortal.DBEntities.DownloadFile>;

                        }
                        @{
                        if (IsAjax)
                        { Layout = ""; }
                        }
                        @if (Model != null && Model.Count() > 0)
                    {


                        @Html.PagedListPager(data, page => Url.Action("Index",
                                                      new { page, keyword = ViewBag.Keyword }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                        @Html.PagedListPager(data, page => Url.Action("Index",
                                                  new { page, keyword = ViewBag.Keyword }), new PagedListRenderOptions
                                                  {
                                                      DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                                      DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                                      DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                                                      DisplayLinkToNextPage = PagedListDisplayMode.Never,
                                                      DisplayLinkToIndividualPages = false,
                                                      //LinkToFirstPageFormat = "<<第一頁",
                                                      //LinkToPreviousPageFormat = "<前一頁",
                                                      //LinkToNextPageFormat = "後一頁>",
                                                      //LinkToLastPageFormat = "最末頁>>",
                                                      DisplayPageCountAndCurrentLocation = true,
                                                      PageCountAndCurrentLocationFormat = @HRPortal.MultiLanguage.Resource.Pageof,
                                                      DisplayItemSliceAndTotal = true,
                                                      ItemSliceAndTotalFormat = @HRPortal.MultiLanguage.Resource.ofrow
                                                  })
                    }
                    </div>
                </div>
                        }
    </div>
    @*hidden 元素*@
                        <input type="hidden" value="0" name="searchName" id="searchName" />
                        }

<div id='DownloadFileDialogDiv' class='modal fade in' role="dialog">
    <div id='DownloadFileDialogContent'></div>
</div>



<script type="text/javascript">
    function ChangeStatus(form, fileId, formName) {
        //Submit data
        $(formName).val(fileId);
        form.submit();
    }
</script>
