@model HRPortal.Mvc.Models.EmployeeInfoManageViewModel

@Scripts.Render("~/bundles/validate")
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(function () {
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            showAlertMessage(message);
        });
    </script>
}
<style>
    .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: 5px;
}
    .col-sm-55 {
    width: 33.33333333%;
    padding-left: 10px;
    float: left;
}
   
</style>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">編輯員工使用權限</h4>
        </div>

        @using (Html.BeginForm("Index", "AccessRights", FormMethod.Post, new { Id = "EditEmployeeInfoForm" }))
        {
            @Html.HiddenFor(m => m.employeeData.ID);
            @Html.HiddenFor(m => m.employeeData.CompanyID);
            @Html.HiddenFor(m => m.employeeData.EmployeeNO);
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-22" style="width: 15%;">公司別</label>
                        <div class="col-sm-44">
                            <p class="form-control-static">@Model.employeeData.Company.CompanyName</p>
                        </div>
                        <label class="col-md-22" style="width: 15%;">HRM所屬部門</label>
                        <div class="col-sm-44">
                            <p class="form-control-static">@Model.employeeData.Department.DepartmentName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-22" style="width: 15%;">姓名</label>
                        <div class="col-sm-44">
                            <p class="form-control-static">@Model.employeeData.EmployeeName</p>
                        </div>
                        <label class="col-md-22" style="width: 15%;">工號</label>
                        <div class="col-sm-44">
                            <p class="form-control-static">@Model.employeeData.EmployeeNO</p>
                        </div>
                    </div>
                    <div class="form-group">
                       <label class="col-md-22" style="width: 15%;">到職日期</label>
                        <div class="col-sm-44">
                            <p class="form-control-static">@Model.employeeData.ArriveDate.ToString("yyyy/MM/dd")</p>
                        </div>
                        <label class="col-md-22" style="width: 15%;">性別</label>
                        <div class="col-sm-44">
                            <p class="form-control-static">@(Model.employeeData.Gender == (int)HRPortal.Mvc.Models.GenderType.Male ? "男" : "女")</p>
                            @*@Html.TextBoxFor(model => model.ArriveDate, "{0:yyyy/MM/dd}", new { @class = "form-control", id = "datetimepicker1" })
                                @Html.ValidationMessageFor(model => model.ArriveDate, "", new { @class = "text-danger" })*@
                        </div>
                         </div>
                    <div class="form-group">
                        <label class="col-md-22" style="width: 15%;">員工階層</label>
                            <div class="col-sm-44">
                            @Html.TextBoxFor(model => model.employeeData.EmployeesLevel, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.employeeData.EmployeesLevel, "", new { @class = "text-danger" })
                            </div> 
                       <label class="col-md-22" style="width: 15%;"> <span style="color:red;">* </span>使用權限</label>
                        <div class="col-sm-44" title="">
                            @Html.DropDownListFor(m => m.employeeData.RoleID, Model.roleLists, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.employeeData.RoleID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-md-22" style="width: 15%;"> </label>
                            <div class="col-sm-55">
                           <p class="form-control-static">  </p>
                            </div> 
                         <label class="col-md-22" style="width: 15%;"><span style="color:red;">* </span>變更密碼</label>
                        <div class="col-sm-44">
                            @Html.PasswordFor(model => model.updatePasswordHash, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.updatePasswordHash, "", new { @class = "text-danger" })
                        </div>
                        <span class="col-sm-5" style="color:red; float:right;margin-right: 65px;padding-top: 15px;">打 * 號欄位資訊並不會儲存到後台</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input id="btnPersonalInfoUpdate" type="submit" class="btn btn-success" value="@HRPortal.MultiLanguage.Resource.BtnSave" />
                <button type="button" class="btn btn-default" data-dismiss="modal"> @HRPortal.MultiLanguage.Resource.BtnClose</button>
            </div>

        }
    </div>
</div>
    <script type="text/javascript">
        
        function UpdateEmpData(serviceURL,methodType,submitData,callback){
            $.ajax({
                url: serviceURL,
                type: methodType,
                data: submitData,
                contentType: false,
                processData: false,
                success: function (submitResult) {
                    callback(submitResult);
                }
            })
        }

        $('#btnPersonalInfoUpdate').click(function (event) 
        {   
            var form = $('#EditEmployeeInfoForm');
            form.submit(function (e) {
                e.preventDefault();
            });
      
              
            var submitData = new FormData(form[0]);
            var empType=@Model.employeeData.EmployeeType
                UpdateEmpData('AccessRights/Update','POST',submitData,function(submitResult){
                    if (submitResult.status == 'success') {
                        if(empType==1){
                            window.location.reload();
                        }else if(empType!=1){
                            UpdateEmpData('AccessRights/UpdateToHRM','POST',submitData,function(submitResult){
                                if (submitResult.status == 'success') {
                                    $('#EmployeeInfoDialogDiv').modal('hide');
                                    showAlertMessage(submitResult.message, function () {
                                        window.location.reload();
                                    }); 
                                } else {
                                    showAlertMessage(submitResult.message);
                                }
                            })
                        }
                    } else {
                        showAlertMessage(submitResult.message);
                    }
                })
        });
    </script>

