@model IEnumerable<HRPortal.Mvc.DDMC_PFA.Models.PfaAbilityViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-info" data-modal="" href="@Url.Action("Create", new { id = "btnCreate" })" data-action="4" style="margin-bottom: 10px;">@HRPortal.MultiLanguage.DDMC_PFA.Resource.BtnCreate</a>

@using (Html.BeginForm("Index", "PfaAbility", FormMethod.Post, new { Id = "PfaAbilityForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            $(function () {
                var message = @Html.Raw(Json.Encode(TempData["message"]));
                showAlertMessage(message);
            });
        </script>
    }
    <div class=" row">
        <div class="search-container" style="margin-right: 13px; border-left-width: 5px; margin-left: 13px;">
            <div class="search-section">
                <div class="search-wrap">
                    <div class="search-name">
                        <label>身分類別代碼</label>
                    </div>
                    <div class="search-input">
                        @Html.DropDownList("ddlEmpType", (IEnumerable<SelectListItem>)ViewData["EmpTypeList"], new { @id = "ddlEmpType", @class = "form-control" })
                    </div>
                </div>
                <div class="search-wrap">
                    <div class="search-name">
                        <label>勝任能力代碼</label>
                    </div>
                    <div class="search-input">
                        <input type="text" id="txtAbilityCode" name="txtAbilityCode" value="@ViewBag.txtAbilityCode" class="form-control" />
                    </div>
                </div>
                <div class="search-wrap">
                    <div class="search-name">
                        <label>勝任能力名稱</label>
                    </div>
                    <div class="search-input">
                        <input type="text" id="txtAbilityName" name="txtAbilityName" value="@ViewBag.txtAbilityName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="search-wrap">
                <div class="col-xs-6" style="padding-left:0px">
                    <input id="btnQuery" style="width:100%" name="btnQuery" type="submit" value="查詢" class="btn btn-info" />
                </div>
                <div class="col-xs-6" style="padding-left:0px">
                    <input id="btnClear" style="width:100%" name="btnClear" type="submit" value="清除" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        @if (Model != null)
        {
            <div class="table-responsive">
                <table tabindex="0" cellspacing="0" cellpadding="0" border="0" class="table-bordered ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="height:50px;width:100%">
                    <tr class="ui-jqgrid-labels" role="rowheader" style="height:40px;color:#777">
                        <th style="width:10%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">身分類別</div>
                        </th>
                        <th style="width:10%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">排序</div>
                        </th>
                        <th style="width:10%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">勝任能力代碼</div>
                        </th>
                        <th style="width:10%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">勝任能力名稱</div>
                        </th>
                        <th style="width:30%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">定義</div>
                        </th>
                        <th style="width:10%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">總分</div>
                        </th>
                        <th style="width:14%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">關鍵行為指標</div>
                        </th>
                        <th style="width:2%"></th>
                        <th style="width:2%"></th>
                        <th style="width:2%"></th>
                    </tr>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr role="row" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr" id="@item.ID">
                                <td role="gridcell" style="white-space: normal; text-align: center;" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.PfaEmpTypeName)
                                </td>
                                <td role="gridcell" style="white-space: normal; text-align: center;" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.Ordering)
                                </td>
                                <td role="gridcell" style="white-space: normal; text-align: center;" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.PfaAbilityCode)
                                </td>
                                <td role="gridcell" style="white-space: normal; text-align: center;" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.PfaAbilityName)
                                </td>
                                <td role="gridcell" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td role="gridcell" style="white-space: normal; text-align: center;" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.TotalScore)
                                </td>
                                <td role="gridcell" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                    @if (item.AbilityDetail.Count() > 0)
                                    {
                                        foreach (var detail in item.AbilityDetail)
                                        {
                                            <div>@string.Format("{0}.{1}", detail.Ordering, detail.PfaAbilityKey)</div>
                                        }
                                    }
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    <a id="btnEdit" class="btn btn-warning" data-modal="" href="@Url.Action("Edit", new { id = item.ID })" data-action="4">@HRPortal.MultiLanguage.DDMC_PFA.Resource.BtnEdit</a>
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    <a id="btnDetail" class="btn btn-warning" data-modal="" href="@Url.Action("Detail", new { id = item.ID })" data-action="4">@HRPortal.MultiLanguage.DDMC_PFA.Resource.BtnDetail</a>
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    <a id="btnDel" class="btn btn-danger" data-modal="" href="@Url.Action("Delete", new { id = item.ID })" data-action="4">@HRPortal.MultiLanguage.DDMC_PFA.Resource.BtnDelete</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr role="row" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td colspan="9" style="text-align:center">
                                @HRPortal.MultiLanguage.DDMC_PFA.Resource.NoData
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div style="text-align:center">
                @* 在後面對pagelist做轉型 *@
                @using PagedList
                @using PagedList.Mvc
                @{
                    var data = Model as IPagedList<HRPortal.Mvc.DDMC_PFA.Models.PfaAbilityViewModel>;
                }
                @{
                    if (IsAjax) { Layout = ""; }
                }
                @if (Model.Count() > 0)
                {
                    @Html.PagedListPager(data, page => Url.Action("Index", new { page, txtCompanyID = ViewBag.txtCompanyID, txtEmpTypeID = ViewBag.txtEmpTypeID, txtAbilityCode = ViewBag.txtAbilityCode, txtAbilityName = ViewBag.txtAbilityName, cmd = "Query" }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                    @Html.PagedListPager(data, page => Url.Action("Index",
                    new { page, txtCompanyID = ViewBag.txtCompanyID, txtEmpTypeID = ViewBag.txtEmpTypeID, txtAbilityCode = ViewBag.txtAbilityCode, txtAbilityName = ViewBag.txtAbilityName, cmd = "Query" }), new PagedListRenderOptions
                    {
                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                        DisplayLinkToLastPage = PagedListDisplayMode.Never,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                        DisplayLinkToNextPage = PagedListDisplayMode.Never,
                        DisplayLinkToIndividualPages = false,
                        DisplayPageCountAndCurrentLocation = true,
                        PageCountAndCurrentLocationFormat = @HRPortal.MultiLanguage.DDMC_PFA.Resource.Pageof,
                        DisplayItemSliceAndTotal = true,
                        ItemSliceAndTotalFormat = @HRPortal.MultiLanguage.DDMC_PFA.Resource.ofrow
                    })
                }
            </div>
        }
    </div>

    @*hidden 元素*@
    <input type="hidden" value="@ViewBag.txtCompanyID" name="txtCompanyID" id="txtCompanyID" />
    <input type="hidden" value="@ViewBag.txtEmpTypeID" name="txtEmpTypeID" id="txtEmpTypeID" />
}

<div id='PfaAbilityDetailDialogDiv' class='modal fade in' role="dialog"><div id='PfaAbilityDetailDialogContent'></div></div>

@section Scripts {
    <script type="text/javascript">
        var selEmpUrl = "";

        $(function () {
            $.ajaxSetup({ cache: false });
            $('a[data-modal]').click(function () {
                selEmpUrl = this.href;

                $('#PfaAbilityDetailDialogContent').load(selEmpUrl, function () {
                    $('#PfaAbilityDetailDialogDiv').modal({
                        backdrop: 'static',
                        keyboard: false
                    }, 'show');
                });
                return false;
            });

            $("#ddlEmpType").change(function () {
                $("#txtEmpTypeID").val($("#ddlEmpType").val());
            });
        });
    </script>
}