@model HRPortal.Mvc.DDMC_PFA.Models.PfaDeptViewModel

@Scripts.Render("~/bundles/validate")

@{
    ViewBag.Title = "SelEmp";
}

<style>
    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: 5px;
    }
</style>

@using (Html.BeginForm("SelEmp", "PfaDept", FormMethod.Post, new { Id = "SelEmpForm" }))
{
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">選擇人員</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px; margin-left: 0px;">
                    <button id="btnAddEmp" name="@Url.Action("AddEmp", new { @aid = ViewBag.ID })" type="button" class="btn btn-info" data-toggle="modal">@HRPortal.MultiLanguage.DDMC_PFA.Resource.BtnCreate</button>
                </div>
                <div>
                    <div class="search-container">
                        <div class="search-section">
                            <div class="col-xs-6">
                                <div class="search-name">
                                    <label>公司別</label>
                                </div>
                                <div class="search-input">
                                    @Model.CompanyName
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="search-name">
                                    <label>考核部門</label>
                                </div>
                                <div class="search-input">
                                    @Model.PfaDeptName
                                </div>
                            </div>
                        </div>
                        <div class="search-section">
                            <div class="col-xs-6">
                                <div class="search-name">
                                    <label>部門階級</label>
                                </div>
                                <div class="search-input">
                                    @Model.DeptClassName
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @if (Model.SelEmps != null)
                    {
                        <div class="table-responsive" style="height:380px">
                            <table tabindex="0" cellspacing="0" cellpadding="0" border="0" class="table-bordered ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="height:50px;width:100%">
                                <tr class="ui-jqgrid-labels" role="rowheader" style="height:40px;color:#777">
                                    <th style="width:50%">
                                        <div id="jqgh_grid-table_code" style="text-align:center;">員工編號</div>
                                    </th>
                                    <th style="width:50%">
                                        <div id="jqgh_grid-table_code" style="text-align:center;">員工姓名</div>
                                    </th>
                                </tr>
                                @if (Model.SelEmps.Count() > 0)
                                {
                                    foreach (var item in Model.SelEmps)
                                    {
                                        <tr role="row" class="ui-widget-content jqgrow ui-row-ltr">
                                            <td role="gridcell" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                                @Html.DisplayFor(modelItem => item.EmployeeNO)
                                            </td>
                                            <td role="gridcell" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                                @Html.DisplayFor(modelItem => item.EmployeeName)
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr role="row" class="ui-widget-content jqgrow ui-row-ltr">
                                        <td colspan="2" style="text-align:center">@HRPortal.MultiLanguage.DDMC_PFA.Resource.NoData</td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div style="text-align:center;height:158px">
                            @* 在後面對pagelist做轉型 *@
                            @using PagedList
                            @using PagedList.Mvc
                            @{
                                var data = Model.SelEmps as IPagedList<HRPortal.Mvc.DDMC_PFA.Models.SelEmp>;
                            }
                            @{
                                if (IsAjax)
                                { Layout = ""; }
                            }
                            @if (Model.SelEmps.Count() > 0)
                            {
                                @Html.PagedListPager(data, page => Url.Action("SelEmp",
                                    new { page, id = ViewBag.ID }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                                @Html.PagedListPager(data, page => Url.Action("SelEmp",
                                    new { page, id = ViewBag.ID }), new PagedListRenderOptions
                                {
                                    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                    DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                                    DisplayLinkToNextPage = PagedListDisplayMode.Never,
                                    DisplayLinkToIndividualPages = false,
                                    DisplayPageCountAndCurrentLocation = true,
                                    PageCountAndCurrentLocationFormat = @HRPortal.MultiLanguage.DDMC_PFA.Resource.Pageof,
                                    DisplayItemSliceAndTotal = true,
                                    ItemSliceAndTotalFormat = @HRPortal.MultiLanguage.DDMC_PFA.Resource.ofrow
                                })
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> @HRPortal.MultiLanguage.DDMC_PFA.Resource.BtnClose</button>
            </div>
        </div>

    </div>
}
<script type="text/javascript">
    $(function () {
        $("#btnAddEmp").click(function () {
            $('#EmpDialogContent').load($(this).attr("name"), function () {
                $('#EmpDialog').modal({
                    backdrop: 'static',
                    keyboard: false
                }, 'show');
            });

            return false;
        });

        $("div[id='PfaDeptDialogContent'] li a").click(function (event) {
            event.preventDefault();

            var href = $(this).attr("href");

            if (href != null)
            {
                $("#PfaDeptDialogContent").load(href);
            }

            return false;
        });
    });
</script>