@model HRPortal.Mvc.Models.SalaryChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

@using HRPortal.MultiLanguage
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    $(function () {
        var dialogForm = $("#SalaryChangePasswordForm");
        $('#CurrentPassword').change(function () {
            $('#EncryptedPassword').val(encryptString($('#CurrentPassword').val(), $('#encryptKey').val()));
           
            dialogForm.validate().form();
        });
        dialogForm.validate().settings.ignore = "";
        $(dialogForm.selector + ' #btnChangePassword').click(function (event) {
            dialogForm.submit(function (e) {
                e.preventDefault();
            });

            if ($('#CurrentPassword').val() == $('#NewPassword').val()) {
                showAlertMessage('新密碼不能與舊密碼相同');
            } else if (dialogForm.validate().form()) {
                var submitData = new FormData();
                submitData.append('CurrentPassword', $('#EncryptedPassword').val());
                submitData.append('NewPassword', encryptString($('#NewPassword').val(), $('#encryptKey').val()));

                $.ajax({
                    url: dialogForm.attr('action'),
                    type: dialogForm.attr('method'),
                    data: submitData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result) {
                            onSalaryChangePasswordSuccess();
                        }
                    }
                });
            }
        });
        if (getCookie('lang') == "en-US") {
            $('.modal-dialog').css('width', '600px');
        }

    });

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

</script>
<div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">薪資領條密碼修改</h4>
            </div>
            <div class="modal-body">
                <section id="SalarychangePasswordForm">
                    @using (Html.BeginForm("SalaryChangePassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "SalaryChangePasswordForm", defaultfocus = "txtNewPassword" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.CurrentPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.EncryptedPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.EncryptedPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-6">
                                 <button id="btnChangePassword" class="btn btn-success btn-block btn-lg" >@Resource.ChangePasswordSubmit</button>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
