@model HRPortal.Mvc.Models.DownloadFilesViewModel
@Scripts.Render("~/bundles/validate")

@{
    ViewBag.Title = "Create DownloadFile";
}
<style>
    .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: 50px;
}
    .col-sm-9:before {
             content: "：";
            display: inline-block;
            height: 50px;
            vertical-align: bottom;
                  }
     .col-sm-10:before {
             content: "：";
            display: inline-block;
            height: 27px;
            vertical-align: bottom;
                  }
      .col-md-33 {
    color: #777;
    width: 100px;
    height: 15px;
    text-align: justify;
    -ms-text-justify: distribute;
    padding: 0px 0 8px 35px;
    float: left;
}
    .col-md-33:after {
    content: "";
    display: inline-block;
    width: 100%;
}
</style>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        $(function () {
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            showAlertMessage(message);
        });
    </script>
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@HRPortal.MultiLanguage.Resource.DownloadFileCreateTitle</h4>
        </div>


        @using (Html.BeginForm("CreateDownloadFile", "DownloadFilesManager", FormMethod.Post, new {  @class = "form-horizontal",@id="DownloadForm" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.DownloadFileData.Createdby)
            @Html.HiddenFor(model => model.DownloadFileData.IsDeleted)
            @Html.HiddenFor(model => model.DownloadFileData.Path)
            @Html.HiddenFor(model => model.DownloadFileData.OriginalName)
            <div class="modal-body">
                <div class="tab-content">
                    <div class="form-group">
                        <label class="col-md-22" style="width: 15%;">@HRPortal.MultiLanguage.Resource.EmployeeNo</label>
                        <div class="col-sm-44">
                            <p class="form-control-static">@ViewBag.EmpID</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-22" style="width: 15%;">@HRPortal.MultiLanguage.Resource.EmployeeName</label>
                        <div class="col-sm-44">
                            <p class="form-control-static">@ViewBag.EmpName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-22" style="width: 15%;">@HRPortal.MultiLanguage.Resource.DepartmentName</label>
                        <div class="col-sm-44">
                            <p class="form-control-static" data-bind="text: department_value">@ViewBag.DeptName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label(HRPortal.MultiLanguage.Resource.DownloadFilePathName, new { @class = "col-md-33", style = "width:15%" })
                        <div class="col-sm-44">
                            <a target="_blank" class="form-control-static" href="@Url.Action("Download", new { filePath = Model.DownloadFileData.Path, fileFormat = Model.DownloadFileData.Format, fileName = Model.DownloadFileData.OriginalName })"> @Html.DisplayFor(model => model.DownloadFileData.OriginalName) </a>
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.Label("型態", new { @class = "col-md-2 control-label" })*@
                        @Html.LabelFor(model => model.DownloadFileData.Format, new { @class = "col-md-22", style = "width:15%" })
                        <div class="col-sm-44">
                            @Html.TextBoxFor(model => model.DownloadFileData.Format, new { @class = "form-control" , @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.Label("型態", new { @class = "col-md-2 control-label" })*@
                        @Html.LabelFor(model => model.DownloadFileData.Size, new { @class = "col-md-22", style = "width:15%" })
                        <div class="col-sm-44">
                            @Html.TextBoxFor(model => model.DownloadFileData.Size, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DownloadFileData.Name, new { @class = "col-md-22", style = "width:15%" })
                        <div class="col-sm-10" style="width:75%">
                            @Html.TextBoxFor(model => model.DownloadFileData.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DownloadFileData.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DownloadFileData.Description, new {@class = "col-md-22", style = "width:15%" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.DownloadFileData.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DownloadFileData.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="@HRPortal.MultiLanguage.Resource.BtnSave" class="btn btn-success" />
                <button type="button" class="btn btn-default" data-dismiss="modal">@HRPortal.MultiLanguage.Resource.BtnClose</button>
            </div>
            
        }
    </div>
</div>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
                $(function () {
                var message = @Html.Raw(Json.Encode(TempData["message"]));
                    showAlertMessage(message);
                });
    </script>
}
