@model IEnumerable<HRPortal.DBEntities.AnswerVacancies>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        padding-left: 5px;
    }
</style>

@using (Html.BeginForm("Index", "VacanciesQuestion", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        @if (TempData["message"] != null)
        {
            <script type="text/javascript">
                $(function () {
                    var message = @Html.Raw(Json.Encode(TempData["message"]));
                  showAlertMessage(message);
              });
            </script>
        }
       
        <div class="col-xs-12">
            <div class="table-responsive">
                <table tabindex="0" cellspacing="0" cellpadding="0" border="0" class="table table-bordered ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="height:50px;width:100%">
                    <tr class="ui-jqgrid-labels" role="rowheader" style="height:40px;color:#777">
                        <th class="">
                            <div id="jqgh_grid-table_code" class="" style="text-align:center;">提問時間</div>
                        </th>
                        <th class="" style="width:40%">
                            <div id="jqgh_grid-table_code" class="" style="text-align:center;">標題</div>
                        </th>
                        <th class="">
                             <div id="jqgh_grid-table_code" class="" style="text-align:center;">提問部門</div>
                        </th>
                        <th class="">
                             <div id="jqgh_grid-table_code" class="" style="text-align:center;">提問人</div>
                        </th>
                        <th class="">
                        </th>
                    </tr>
                    @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                            <tr role="row" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                                <td role="gridcell" class="" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.ModifiedTime)
                                </td>
                                <td role="gridcell" class="" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td role="gridcell" class="" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.Employee.Department.DepartmentName)
                                </td>
                                <td role="gridcell" class="" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                                </td>
                                <td role="gridcell" class="" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    <a class="btn btn-primary" id="btnDetail@(item.ID)" data-modal="" href="@Url.Action("Detail", new { id = item.ID })" data-action="4">@HRPortal.MultiLanguage.Resource.BtnDetail</a>
                                    @*<a class="btn btn-danger" id="btnEdit@(item.Id)" data-modal="" href="@Url.Action("Delete", new { id = item.Id })" data-action="4">@HRPortal.MultiLanguage.Resource.BtnEdit</a>*@
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr role="row" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td colspan="6" style="text-align:center">
                                @HRPortal.MultiLanguage.Resource.NoData
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div style="text-align:center">
                @* 在後面對pagelist做轉型 *@
                @using PagedList
                @using PagedList.Mvc
                @{
    var data = Model as IPagedList<HRPortal.DBEntities.AnswerVacancies>
                        ;
                }
                @{
                    if (IsAjax)
                    { Layout = ""; }
                }
                @if (Model != null && Model.Count() > 0)
                {


                    @Html.PagedListPager(data, page => Url.Action("Index",
                                         new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                    @Html.PagedListPager(data, page => Url.Action("Index",
                                     new { page }), new PagedListRenderOptions
                                     {
                                         DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                         DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                         DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                                         DisplayLinkToNextPage = PagedListDisplayMode.Never,
                                         DisplayLinkToIndividualPages = false,
                                         //LinkToFirstPageFormat = "<<第一頁",
                                         //LinkToPreviousPageFormat = "<前一頁",
                                         //LinkToNextPageFormat = "後一頁>",
                                         //LinkToLastPageFormat = "最末頁>>",
                                         DisplayPageCountAndCurrentLocation = true,
                                         PageCountAndCurrentLocationFormat = @HRPortal.MultiLanguage.Resource.Pageof,
                                         DisplayItemSliceAndTotal = true,
                                         ItemSliceAndTotalFormat = @HRPortal.MultiLanguage.Resource.ofrow
                                     })
                }
            </div>
        </div>
    </div>
    @*hidden 元素*@
                    @*<input type="hidden" value="@ViewBag.selectFAQType" name="FAQTypeData" id="FAQTypeData" />
                    <input type="hidden" value="0" name="SearchTitle" id="SearchTitle" />*@
                    }

<div id='AnswerFAQDialogDiv' class='modal fade in' role="dialog">
    <div id='AnswerFAQDialogContent'></div>
</div>



<script type="text/javascript">
    function ChangeStatus(form, fileId, formName) {
        //Submit data
        $(formName).val(fileId);
        form.submit();
    }

    $(function () {
        //Optional: turn the chache off
        //Popup
        $.ajaxSetup({ cache: false });
        $('a[data-modal]').click(function () {
            //debugger;
            $('#AnswerFAQDialogContent').load(this.href, function () {
                $('#AnswerFAQDialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                bindForm(this, '#AnswerFAQDialogDiv', '#AnswerFAQDialogContent', true, '@Url.Action("Index")');
            });

            return false;
        });

    });


</script>
