@model IEnumerable<HRPortal.Mvc.DDMC_PFA.Models.PfaCycleEmpSignViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-info" data-modal="" href="@Url.Action("SentQuery")" data-action="4" style="margin-bottom: 10px;">@HRPortal.MultiLanguage.DDMC_PFA.Resource.OK_Sent</a>
<a class="btn btn-warning" data-modal="" href="@Url.Action("RejectQuery")" data-action="4" style="margin-bottom: 10px;">@HRPortal.MultiLanguage.DDMC_PFA.Resource.Button_RejectForm</a>
<a class="btn btn-success" data-modal="" href="@Url.Action("BatchQuery")" data-action="4" style="margin-bottom: 10px;">批次配比簽核</a>

@using (Html.BeginForm("Index", "PfaCycleThirdEvaluation", FormMethod.Post, new { Id = "PfaCycleForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            $(function () {
                var message = @Html.Raw(Json.Encode(TempData["message"]));
                showAlertMsg(message);
            });
        </script>
    }
    <div class=" row">
        <div class="search-container" style="margin-right: 13px; border-left-width: 5px; margin-left: 13px;">
            <div class="search-section">
                <div class="search-wrap">
                    <div class="search-name">
                        <label>組織</label>
                    </div>
                    <div class="search-input">
                        @Html.DropDownList("ddlOrg", (List<SelectListItem>)ViewBag.OrgList, new { @id = "ddlOrg", @class = "form-control" })
                    </div>
                </div>
                <div class="search-wrap">
                    <div class="search-name">
                        <label>部門</label>
                    </div>
                    <div class="search-input">
                        @Html.DropDownList("ddlDepartment", (List<SelectListItem>)ViewBag.DepartmentList, new { @id = "ddlDepartment", @class = "form-control" })
                    </div>
                </div>
                <div class="search-wrap">
                    <div class="search-name">
                        <label>員工編號</label>
                    </div>
                    <div class="search-input">
                        <input type="text" id="txtEmployeeNo" name="txtEmployeeNo" value="@ViewBag.txtEmployeeNo" class="form-control" />
                    </div>
                </div>
                <div class="search-wrap">
                    <div class="search-name">
                        <label>員工姓名</label>
                    </div>
                    <div class="search-input">
                        <input type="text" id="txtEmployeeName" name="txtEmployeeName" value="@ViewBag.txtEmployeeName" class="form-control" />
                    </div>
                </div>
                <div class="search-wrap">
                    <div class="search-name">
                        <label>簽核狀態</label>
                    </div>
                    <div class="search-input">
                        @Html.DropDownList("ddlStatus", (List<SelectListItem>)ViewBag.StatusList, new { @id = "ddlStatus", @class = "form-control" })
                    </div>
                </div>
                <div class="search-wrap">
                    <div class="search-name">
                        <label>評等</label>
                    </div>
                    <div class="search-input">
                        @Html.DropDownList("ddlPerformance", (List<SelectListItem>)ViewBag.PerformanceList, new { @id = "ddlPerformance", @class = "form-control" })
                    </div>
                </div>
                <div class="search-wrap">
                    <div class="search-name">
                        <label>排序</label>
                    </div>
                    <div class="search-input">
                        @Html.DropDownList("ddlSort", (List<SelectListItem>)ViewBag.SortList, new { @id = "ddlSort", @class = "form-control" })
                    </div>
                </div>
                <div class="search-wrap">
                    <div class="search-name" style="width:150px;">
                        <label>管理/非配比人員</label>
                    </div>
                    <div class="search-input" style="width:40px;">
                        @if (ViewBag.txtNoRatio == "Y")
                        {
                            <input type="checkbox" id="chkNoRatio" name="chkNoRatio" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" id="chkNoRatio" name="chkNoRatio" />
                        }
                    </div>
                </div>
                <div class="search-wrap">
                    <div class="search-name" style="width:150px;">
                        <label>按部門排序</label>
                    </div>
                    <div class="search-input" style="width:40px;">
                        @if (ViewBag.txtDeptSort == "Y")
                        {
                            <input type="checkbox" id="chkDeptSort" name="chkDeptSort" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" id="chkDeptSort" name="chkDeptSort" />
                        }
                    </div>
                </div>
            </div>
            <div class="search-wrap">
                <div class="col-xs-6" style="padding-left:0px">
                    <input id="btnQuery" style="width:100%" name="btnQuery" type="submit" value="查詢" class="btn btn-info" />
                </div>
                <div class="col-xs-6" style="padding-left:0px">
                    <input id="btnClear" style="width:100%" name="btnClear" type="submit" value="清除" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        @if (Model != null)
        {
            <div class="table-responsive">
                <table tabindex="0" cellspacing="0" cellpadding="0" border="0" class="table-bordered ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="height:50px;width:100%">
                    <tr class="ui-jqgrid-labels" role="rowheader" style="height:40px;color:#777">
                        <th style="width:10%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">績效考核批號</div>
                        </th>
                        <th style="width:12%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">組織</div>
                        </th>
                        <th style="width:12%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">部門</div>
                        </th>
                        <th style="width:8%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">員工編號</div>
                        </th>
                        <th style="width:10%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">員工姓名</div>
                        </th>
                        <th style="width:6%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">自評</div>
                        </th>
                        <th style="width:6%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">初核</div>
                        </th>
                        <th style="width:6%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">複核</div>
                        </th>
                        <th style="width:6%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">核決</div>
                        </th>
                        <th style="width:6%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">評等</div>
                        </th>
                        <th style="width:6%">
                            <div id="jqgh_grid-table_code" style="text-align:center;">簽核狀態</div>
                        </th>
                        <th style="width:2%"></th>
                        <th style="width:2%"></th>
                    </tr>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr role="row" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr" id="@item.PfaSignProcessID">
                                <td role="gridcell" style="white-space:normal; text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.PfaFormNo)
                                </td>
                                <td role="gridcell" style="white-space:normal; text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.PfaOrgCode)
                                    @Html.DisplayFor(modelItem => item.PfaOrgName)
                                </td>
                                <td role="gridcell" style="white-space:normal; text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.PfaDeptCode)
                                    @Html.DisplayFor(modelItem => item.PfaDeptName)
                                </td>
                                <td role="gridcell" style="white-space:normal; text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.EmployeeNo)
                                </td>
                                <td role="gridcell" style="white-space:normal; text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.PfaSelfScore)
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.PfaFirstScore)
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.PfaLastScore)
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.PfaFinalScore)
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.FinalPerformanceName)
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    @Html.DisplayFor(modelItem => item.StrSignStatus)
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    @if (item.SignStatus == "r" || item.SignStatus == "c" || item.SignStatus == "t" || item.SignStatus == "a")
                                    {
                                        <a id="btnEdit" class="btn btn-primary" data-modal="" href="@Url.Action("Edit", new { Id = item.PfaSignProcessID })" data-action="4">@HRPortal.MultiLanguage.DDMC_PFA.Resource.BtnEdit</a>
                                    }
                                </td>
                                <td role="gridcell" style="white-space:normal;text-align:center" aria-describedby="grid-table_notification_count">
                                    <a id="btnDetail" class="btn btn-warning" data-modal="" href="@Url.Action("Detail", new { Id = item.PfaSignProcessID })" data-action="4">@HRPortal.MultiLanguage.DDMC_PFA.Resource.BtnDetail</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr role="row" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td colspan="13" style="text-align:center">
                                @HRPortal.MultiLanguage.DDMC_PFA.Resource.NoData
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div style="text-align:center">
                @* 在後面對pagelist做轉型 *@
                @using PagedList
                @using PagedList.Mvc
                @{
                    var data = Model as IPagedList<HRPortal.Mvc.DDMC_PFA.Models.PfaCycleEmpSignViewModel>;
                }
                @{
                    if (IsAjax)
                    { Layout = ""; }
                }
                @if (Model.Count() > 0)
                {
                    @Html.PagedListPager(data, page => Url.Action("Index",
                        new { page, txtOrgID = ViewBag.txtOrgID, txtDepartmentID = ViewBag.txtDepartmentID, txtEmployeeNo = ViewBag.txtEmployeeNo, txtEmployeeName = ViewBag.txtEmployeeName, txtStatus = ViewBag.txtStatus, txtPerformanceID = ViewBag.txtPerformanceID, txtSort = ViewBag.txtSort, txtNoRatio = ViewBag.txtNoRatio, txtDeptSort = ViewBag.txtDeptSort, cmd = "Query" }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                    @Html.PagedListPager(data, page => Url.Action("Index",
                        new { page, txtOrgID = ViewBag.txtOrgID, txtDepartmentID = ViewBag.txtDepartmentID, txtEmployeeNo = ViewBag.txtEmployeeNo, txtEmployeeName = ViewBag.txtEmployeeName, txtStatus = ViewBag.txtStatus, txtPerformanceID = ViewBag.txtPerformanceID, txtSort = ViewBag.txtSort, txtNoRatio = ViewBag.txtNoRatio, txtDeptSort = ViewBag.txtDeptSort, cmd = "Query" }), new PagedListRenderOptions
                        {
                            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                            DisplayLinkToLastPage = PagedListDisplayMode.Never,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                            DisplayLinkToNextPage = PagedListDisplayMode.Never,
                            DisplayLinkToIndividualPages = false,
                            //LinkToFirstPageFormat = "<<第一頁",
                            //LinkToPreviousPageFormat = "<前一頁",
                            //LinkToNextPageFormat = "後一頁>",
                            //LinkToLastPageFormat = "最末頁>>",
                            DisplayPageCountAndCurrentLocation = true,
                            PageCountAndCurrentLocationFormat = @HRPortal.MultiLanguage.DDMC_PFA.Resource.Pageof,
                            DisplayItemSliceAndTotal = true,
                            ItemSliceAndTotalFormat = @HRPortal.MultiLanguage.DDMC_PFA.Resource.ofrow
                        })
                }
            </div>
        }
    </div>
    @*hidden 元素*@
    <input type="hidden" value="@ViewBag.txtOrgID" name="txtOrgID" id="txtOrgID" />
    <input type="hidden" value="@ViewBag.txtDepartmentID" name="txtDepartmentID" id="txtDepartmentID" />
    <input type="hidden" value="@ViewBag.txtStatus" name="txtStatus" id="txtStatus" />
    <input type="hidden" value="@ViewBag.txtPerformanceID" name="txtPerformanceID" id="txtPerformanceID" />
    <input type="hidden" value="@ViewBag.txtSort" name="txtSort" id="txtSort" />
    <input type="hidden" value="@ViewBag.txtNoRatio" name="txtNoRatio" id="txtNoRatio" />
    <input type="hidden" value="@ViewBag.txtDeptSort" name="txtDeptSort" id="txtDeptSort" />
}

<div id='PfaSignProcessDialogDiv' class='modal fade in' role="dialog"><div id='PfaSignProcessDialogContent'></div></div>
<div id='UploadDialogDiv' class='modal fade in' role="dialog" tabindex="-1"><div id='UploadDialogContent'></div></div>

@section Scripts {
    <script type="text/javascript">
        var selUrl = "";
        var reload = "1";
        $(function () {
            $.ajaxSetup({ cache: false });

            $("#ddlOrg").change(function () {
                $("#txtOrgID").val($("#ddlOrg").val());
                $("#tbodyData").empty();
                ChangeDepartment();
            });

            function ChangeDepartment() {
                var empSelect = $("#ddlDepartment");
                $(empSelect).empty();
                $("#txtDepartmentID").val("");
                var selectedId = $.trim($('#ddlOrg option:selected').val());
                $.ajax({
                    url: "@Url.Action("GetDepartmentOptions")",
                    data: { selectedData: selectedId },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'html',
                    success: function (data) {
                        if (data.length > 0) {
                            empSelect.append(data);
                        }
                    }
                });
            }

            $("#ddlDepartment").change(function () {
                $("#txtDepartmentID").val($("#ddlDepartment").val());
            });

            $("#ddlStatus").change(function () {
                $("#txtStatus").val($("#ddlStatus").val());
            });

            $("#ddlPerformance").change(function () {
                $("#txtPerformanceID").val($("#ddlPerformance").val());
            });

            $("#ddlSort").change(function () {
                $("#txtSort").val($("#ddlSort").val());
            });

            $("#chkNoRatio").change(function () {
                if ($("#chkNoRatio").prop("checked")) {
                    $("#txtNoRatio").val("Y");
                } else {
                    $("#txtNoRatio").val("N");
                }
            });

            $("#chkDeptSort").change(function () {
                if ($("#chkDeptSort").prop("checked")) {
                    $("#txtDeptSort").val("Y");
                } else {
                    $("#txtDeptSort").val("N");
                }
            });

            $('a[data-modal]').click(function () {
                selUrl = this.href;
                reload = "1";
                var datareload = $(this).attr("data-reload");

                if (!(datareload === undefined) && datareload == '0') {
                    console.log(datareload);
                    reload = "0";
                }

                $('#PfaSignProcessDialogContent').load(selUrl, function () {
                    $('#PfaSignProcessDialogDiv').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');
                });
                return false;
            });

            $("#PfaSignProcessDialogDiv").on("hidden.bs.modal", function () {
                if (reload == "1") location.reload();
            });
        });
    </script>
}
