@model HRPortal.Mvc.Models.OverTimeCancelFormViewModel
<style type="text/css">
    .col-md-22:before {
        content: "：";
        display: inline-block;
        float: right;
    }

    .col-md-22 {
        min-width: 160px;
    }

    .dl-info > div {
        clear: both;
    }

    .form-control-static {
        float: left;
        width: 50%;
    }

    .modal-footer {
        clear:both;    
    }

</style>
<div class="dl-info dl-horizontal">
    <div>
        <label class="col-md-22">@HRPortal.MultiLanguage.Resource.applicant</label>
        @if (Model.SourceData.getLanguageCookie == "en-US")
        {
            <p class="form-control-static">@Model.SourceData.SenderEmployeeEnglishName</p>
        }
        else
        {
            <p class="form-control-static">@Model.SourceData.EmployeeName</p>
        }
    </div>
    <div>
        <label class="col-md-22">@HRPortal.MultiLanguage.Resource.Department</label>
        <p class="form-control-static">@(Model.SourceData.getLanguageCookie == "en-US" ? Model.SourceData.DepartmentEnglishName : Model.SourceData.DepartmentName)</p>
    </div>
    <div>
        <label class="col-md-22">@HRPortal.MultiLanguage.Resource.OvertimesinglepinFilingDate</label>
        <p class="form-control-static">@Model.FormData.CreatedTime.ToString("yyyy/MM/dd")</p>
    </div>
    <div>
        <label class="col-md-22">@HRPortal.MultiLanguage.Resource.Overtimesinglefilingdate</label>
        <p class="form-control-static">@Model.SourceData.CreatedTime.ToString("yyyy/MM/dd")</p>
    </div>
    <div>
        <div class="col-md-22">@HRPortal.MultiLanguage.Resource.Startingandendingtime</div>
        <div class="form-control-static">
            @Model.SourceData.StartTime.ToString("yyyy/MM/dd HH:mm") <span>~</span> @Model.SourceData.EndTime.ToString("yyyy/MM/dd HH:mm")
        </div>
    </div>
    <div>
        <div class="col-md-22">@HRPortal.MultiLanguage.Resource.Hours</div>
        <div class="form-control-static">@Model.SourceData.Amount.ToString("0.#") @HRPortal.MultiLanguage.Resource.Hour</div>
    </div>
    <div>
        <label class="col-md-22">@HRPortal.MultiLanguage.Resource.OvertimeMeal</label>
        <p class="form-control-static">
            @if (Model.SourceData.HaveDining)
            {
                <span>@HRPortal.MultiLanguage.Resource.Yes</span>
            }
            else
            {
                <span>@HRPortal.MultiLanguage.Resource.No</span>
            }
        </p>
    </div>
   
    @*<dt>補休或加班費</dt>
        <dd>
            @if (Model.Compensation== "0")
            {
                <span>加班費</span>
            }
            else
            {
                <span>補修</span>
            }
        </dd>*@
     
    <div>
        <label class="col-md-22">@HRPortal.MultiLanguage.Resource.Subjectt</label>
        <p class="form-control-static">@Model.SourceData.OverTimeReason</p>
    </div>
    <div>
        <label class="col-md-22">@HRPortal.MultiLanguage.Resource.PinsinglereasonOvertime</label>
        <p class="form-control-static" style="word-break: break-all;">
            @Model.FormData.CancelReason
        </p>
    </div>
</div>
@if (ViewBag.CanResend != null && ViewBag.CanResend)
{
    @*<div class="modal-footer">
            <a class="btn btn-success" href="@ViewBag.ResendUrl">重送</a>
        </div>*@
    <script type="text/javascript">
      $("#singFlowFooter").show();
      $("#FormCancel").hide();
        //2019/09/18 Neo 簽核內容(銷加班單) 編輯重送按鈕增加confirm事件
        //$("#Resend").show().attr("href", "@ViewBag.ResendUrl");
        $("#Resend").unbind("click");
        $("#Resend").show().click(function (event) {
            var c = confirm('按下確定後此假單就會拉回，需重新送出');
            if (c) {
                window.location.href = '@ViewBag.ResendUrl';
            }
        });
    </script>
}
else
{
    <script type="text/javascript">
        $("#FormCancel").hide();
        $("#Resend").hide();
    </script>
}

@if (ViewBag.FormStatus != null && ViewBag.FormStatus == (int)HRPortal.Mvc.Models.FormStatus.Send)
{

    <script type="text/javascript">
        $("#singFlowFooter").show();
        $("#FormCancel").show().attr("href", "@ViewBag.CancelURL").html("@HRPortal.MultiLanguage.Resource.Overtimesinglepin");
    </script>
}
else
{
    <script type="text/javascript">
        $("#FormCancel").hide();
    </script>
}

<script type="text/javascript">
    $(function () {
        $('#detailFormTypeName').html('@HRPortal.MultiLanguage.Resource.Overtimesinglepin');
    })
</script>
