@model List<HRPortal.Mvc.Models.SignFlowAssignDeptViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            $(function () {
                var message = @Html.Raw(Json.Encode(TempData["message"]));
                showAlertMessage(message);
            });
        </script>
    }
    <div class="col-md-7 col-sm-12 btn-toolbar action-buttons">
        <div>
            <a class="btn btn-info" id="btnAddSignFlow" data-modal="" href="@Url.Action("AddSignFlow")">@HRPortal.MultiLanguage.Resource.BtnCreate</a>
        </div>
        <br />
        <div>
            <div class="col-xs-4">
                @Html.DropDownList("CompanyFilterList", (IEnumerable<SelectListItem>)ViewData["CompanyFilterList"], new { @class = "form-control", onchange = "companyFilterSelected();" })
            </div>
            <div class="col-xs-4">
                @Html.DropDownList("DepartmentFilterList", (IEnumerable<SelectListItem>)ViewData["DepartmentFilterList"], new { @class = "form-control", onchange = "departmentFilterSelected();" })
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.FilterCompanyCode))
    {
        <script type="text/javascript">
            $(function () {
                $('#CompanyFilterList option[value="' + '@ViewBag.FilterCompanyCode' + '"]').attr("selected", true);
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(ViewBag.FilterDepartmentCode))
    { 
        <script type="text/javascript">
            $(function () {
                $('#DepartmentFilterList option[value="' + '@ViewBag.FilterDepartmentCode' + '"]').attr("selected", true);
            });
        </script>
    }

    <div class="col-xs-12">
        <div class="table-responsive">
            <table tabindex="0" cellspacing="0" cellpadding="0" border="0" class="table table-bordered ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="height:50px;width:100%">
                <tr class="ui-jqgrid-labels" role="rowheader" style="height:40px;color:#777;">
                    <th class="col-xs-2" style="white-space:normal">
                         <div id="jqgh_grid-table_code" class="" style="text-align:center;">@HRPortal.MultiLanguage.Resource.FormType</div>
                    </th>
                    <th class="col-xs-3" style="white-space:normal">
                        <div id="jqgh_grid-table_code" class="" style="text-align:center;">@HRPortal.MultiLanguage.Resource.Company</div> 
                    </th>
                    <th class="col-xs-2" style="white-space:normal">
                        <div id="jqgh_grid-table_code" class="" style="text-align:center;">@HRPortal.MultiLanguage.Resource.Department</div> 
                    </th>
                    <th class="col-xs-2" style="white-space:normal">
                        <div id="jqgh_grid-table_code" class="" style="text-align:center;">@HRPortal.MultiLanguage.Resource.EmployeeNo</div> 
                    </th>
                    <th class="col-xs-3" style="white-space:normal">

                    </th>
                </tr>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr role="row" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" class="" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                @Html.DisplayFor(modelItem => item.FormTypeName)
                            </td>

                            <td role="gridcell" class="" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>

                            <td role="gridcell" class="" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                @Html.DisplayFor(modelItem => item.DeptName)
                            </td>

                            <td role="gridcell" class="" style="white-space:normal" aria-describedby="grid-table_notification_count">
                                @Html.DisplayFor(modelItem => item.EmpName)
                            </td>

                            <td style="white-space:normal;text-align:center">
                                <a class="btn btn-warning" id="btnEdit@(item.ID)" data-modal="" href="@Url.Action("Index", new { designId = item.DesignID, type = "design" })" data-action="4">@HRPortal.MultiLanguage.Resource.BtnEdit</a>
                                <a class="btn btn-danger btn-delete" id="btnDelete@(item.ID)" href="@Url.Action("DeleteSignFlow", new { assignId = item.ID })" data-action="4">@HRPortal.MultiLanguage.Resource.BtnDelete</a>
                                <a class="btn btn-primary" id="btnEditCondition@(item.ID)" data-modal="" href="@Url.Action("Index", new { designId = item.DesignID, type = "condition" })" data-action="4">@HRPortal.MultiLanguage.Resource.SignFlowCondition</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr role="row" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                        <td colspan="6" style="text-align:center">
                            @HRPortal.MultiLanguage.Resource.NoData
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div id='AddSignFlowDiv' class='modal fade in' role="dialog">
        <div id='AddSignFlowContent'></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            //Popup
            $.ajaxSetup({ cache: false });
            $('#btnAddSignFlow').click(function () {
                $('#AddSignFlowContent').load(this.href, function () {
                    $('#AddSignFlowDiv').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');
                });
                return false;
            });

            $('a.btn-delete').click(function () {
                $.ajax({
                    url: this.href,
                    type: 'POST',
                    success: function (result) {
                        if (result.status == 'success') {
                            window.location = '@Url.Action("Index")';
                            location.reload();
                        } else {
                            showAlertMessage(result.message);
                        }
                    }
                });
                return false;
            });
        });

        function companyFilterSelected(){
            var indexUrl = '@Url.Action("Index")' + '?companyCode=' + $('#CompanyFilterList option:selected').val();
            window.location = indexUrl;
        }

        function departmentFilterSelected(){
            var departmentCode=$('#DepartmentFilterList option:selected').val(),
                indexUrl='';

            if(departmentCode!='ALL'){
                indexUrl = '@Url.Action("Index")' + '?companyCode=' + $('#CompanyFilterList option:selected').val()+'&departmentCode='+departmentCode;
            }else{
                indexUrl = '@Url.Action("Index")' + '?companyCode=' + $('#CompanyFilterList option:selected').val();
            }
            window.location = indexUrl;
            
        }
    </script>
}

